<div id="update-container">

<section style=" border:1px solid green;padding:10px;margin:10px">
<h2><%=@recipes.name%></h2>

Serves:<%=@recipes.serves%><br />
Ingredients:<%=@recipes.ingredients%><br />
Made_By:<%=@recipes.made_by%><br />
Last_Made:<%=@recipes.last_made.time_set%><br />
Image:<%=@recipes.image%><br />
</section>

</div>
